<h1 style="color: #FFF;">Write your name and thoughts here...</h1>

<%= render 'form' %>

<%= link_to 'See all thoughts or Edit/Delete comments', video_articles_path(@article.video), :style => "color: white; font-style: italic;" %>
