
<div class="welcome-div1">
  <h1 class="welcome-heading">Welcome to JustPlayIt!</h1>
  <br>
  <h3 class="welcome-rules">Please come in and let's sing by the fire...</h3>
</div >




<div class='image-div'>
  <img class='welcome-image' src="https://media.giphy.com/media/cNZkqYmPeea1a/source.gif" alt="sing by the fireplace">
  <!-- <%= image_tag("marley.gif", alt: "marley rockin") %> -->
</div>





<div class="welcome-div2">
  <br>
    <h4 class="welcome-play"><%= link_to 'Play' , videos_path, {:style => 'color: #ff7400; font-style: none;'} %></h4>
  <br>
</div>






















<p>Find me in app/views/welcome/index.html.erb</p>
