<h1>Welcome to JustPlayIt!</h1>


<h3>No rules or restrictions - feel free to add or edit anything...</h3>

<%= link_to 'PLAY SOME VIDEOS' , videos_path %>





















<p>Find me in app/views/welcome/index.html.erb</p>
