
<div class="welcome-div1">
  <h1 class="welcome-heading">Welcome to JustPlayIt!</h1>
  <br>
  <h3 class="welcome-rules">No rules or restrictions - feel free to add or edit anything...</h3>
</div>

<div class="welcome-div2">
  <br>
  <h4 class="welcome-play"><%= link_to 'PLAY SOME VIDEOS' , videos_path, {:style => 'color: #ff4500'} %></h4>
  <br>
</div>





















<p>Find me in app/views/welcome/index.html.erb</p>
