<h1 class="welcome_heading">Welcome to JustPlayIt!</h1>

<h3 class="welcome_rules">No rules or restrictions - feel free to add or edit anything...</h3>

<h4 class="welcome_play"><%= link_to 'PLAY SOME VIDEOS' , videos_path, {:style => 'color: #00F'} %></h4>





















<p>Find me in app/views/welcome/index.html.erb</p>
