// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.videos-index-div {
}

p {
  color: #fff;
  font-size: 24px;
  text-align: center;
}
th {
  color: yellow;
}

td {
  color: white;
}

.transparent-show-div {
  background-color: rgba(0, 0, 0, .6);
  width: 400px;
  
  margin: 0 auto;
}
