// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.videos-index-div {
}

p {
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding: auto;
  padding-top: 10px;
}
th {
  color: yellow;
}

td {
  font-size: 16px;
  color: tan;
}

.transparent-show-div {
  background-color: rgba(0, 0, 0, .6);
  width: 420px;
  height: 520px;


  margin: 0 auto;
}
.show-image {
  width: 320px;
  height: 320px;
}

.videos-index {
  font-size: 60px;
  color: white;
  font-style: italic;
}

.h1-span {
  font-size: 36px;
  color: white;
  font-style: oblique;
}
