// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: url('http://www.planwallpaper.com/static/images/518079-background-hd.jpg');
}

.welcome-div1 {
  height: 300px;
  margin-bottom: -100px;
}
.welcome-heading {
  color: #f37c1a;
  font-size: 88px;
  padding-top: 35px;
  text-align: center;
}
.welcome-rules {
  color: #000;
  font-size: 33px;
  text-align: center;
}

.image-div {
  margin: 0 auto;
  height: 600px;
  width: 1000px;
}
.welcome-image {
  margin: 5px;
  height: 100%;
  width: 100%;
}

.welcome-div2 {
  margin-top: -150px;
  margin-bottom: 200px;
}
.welcome-play {
  font-size: 200px;
  text-align: center;
  margin: 5px;
}
.welcome-play a:link {
  background-color: rgba(0, 0, 0, .6);
  text-decoration: none;
}
