// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: url('http://www.planwallpaper.com/static/images/518079-background-hd.jpg');
}

.welcome-div1 {
  height: 300px;
}
.welcome-heading {
  color: #f37c1a;
  font-size: 88px;
  padding-top: 35px;
  text-align: center;
}
.welcome-rules {
  color: #000;
  font-size: 33px;
  text-align: center;
}
.marley-gif {
  align-self: center;
}
.welcome-div2 {
}
.welcome-play {
  font-size: 88px;
  text-align: center;
}
